#options {

    max-width: 700px;
    margin: auto;
    
}

.btn {
    font-size: 48px;
    font-weight: 700;
    background-color: navy;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    vertical-align: center;
}

#scroll {
    background-color: black;
    font-size: 24px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-size: 100%;
    color: white;
    min-width: 550px;
    margin: 0;
}

.row {
    text-align: center;
    vertical-align: center;

}
.column {
    float: left;
    width: 33.3%;
    padding: 10px;
    height: 300px;
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    vertical-align: center;
    background-color: rgba(0,0,0,0.5);
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.form-control {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

#spending {
    width: 50%;
    margin: auto;
    height: 40px;
    background-color: rgba(105, 105, 114, 0.5);
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.3);
    text-align: left;
    padding: 5px 6px 

}